<div *ngIf="post$ | async as post" class="blog-detail">
  <h1>{{ post.title }}</h1>
  <p><strong>Author:</strong> {{ post.author }}</p>
  <p><strong>Published on:</strong> {{ post.createdAt | date: "fullDate" }}</p>
  <img
    *ngIf="post.headerImageUrl"
    [src]="post.headerImageUrl"
    alt="{{ post.title }}"
    class="header-image"
  />
  <div class="content">
    <p>{{ post.contentPreview }}</p>
  </div>
  <div class="likes">
    <p><strong>Likes:</strong> {{ post.likes }}</p>
  </div>
  <div class="comments">
    <p><strong>Comments:</strong> {{ post.comments ?? 0 }} comments</p>
  </div>
</div>
