<div class="navbar">
  <!-- Logo -->
  <a routerLink="/" class="logo">Thrill Trips by Mateusz Kurowski</a>

  <!-- Navigation Buttons -->
  <div>
    <!-- Home Button -->
    <a routerLink="/" class="nav-link">Home</a>

    <!-- User Email and Conditional Buttons -->
    <ng-container *ngIf="isAuthenticated">
      <span class="nav-link">Welcome, {{ userEmail }}</span>
      <a routerLink="/add-blog" class="nav-link" tabindex="0" role="button">
        Add Blog
      </a>
      <a
        class="nav-link"
        (click)="logout()"
        (keydown.enter)="logout()"
        (keydown.space)="logout()"
        tabindex="0"
        role="button"
      >
        Logout
      </a>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
      <a
        class="nav-link"
        (click)="login()"
        (keydown.enter)="login()"
        (keydown.space)="login()"
        tabindex="0"
        role="button"
      >
        Login
      </a>
    </ng-container>
  </div>
</div>
