<div class="blog-detail" *ngIf="blog; else loadingOrError">
  <h1>{{ blog.title }}</h1>
  <img
    *ngIf="blog.headerImageUrl"
    [src]="blog.headerImageUrl"
    alt="{{ blog.title }}"
  />
  <p><strong>Author:</strong> {{ blog.author }}</p>
  <p><strong>Created At:</strong> {{ blog.createdAt | date }}</p>
  <p><strong>Updated At:</strong> {{ blog.updatedAt | date }}</p>
  <p><strong>Likes:</strong> {{ blog.likes }}</p>
  <p><strong>Liked By Me:</strong> {{ blog.likedByMe ? "Yes" : "No" }}</p>
  <div class="blog-content">
    <p>{{ blog.content }}</p>
  </div>
</div>

<ng-template #loadingOrError>
  <div>Loading blog details or no data available...</div>
</ng-template>
